<!DOCTYPE html>
<html lang="en">
<head>
  <title>Green Thumb Project</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-mobile">
  <div id="app">
    <div v-show="downloading === 'True'">
      <h1 class="w3-center">Getting your data.  If you clicked the "all" button, this may take a few minutes.</h1>
    </div>
    <div v-show="downloading === 'False'"> 
    <div class="w3-row">
      <div class="w3-right">
	<input type='text' v-model="username" maxlength="100">Username</input>
	<input type='password' v-model="password" maxlength="100">Password</input>
	<div @click="sendLogin" class="w3-blue w3-button">Login</div>
      </div>
    </div>
    <div class="w3-auto">
      <h3 class="w3-right w3-text-red">{{ attempt }}</h3>
    </div>
    <div class="w3-auto">
      <h1 class="w3-green w3-center">Your greenhouse - The Green Thumb Project</h1>
    </div>
    <hr>
    <div class="w3-row w3-center">
      <div @click="getTime(2592000000)" class="w3-light-blue w3-button w3-padding-large">1mth
      </div>
      <div @click="getTime(7776000000)" class="w3-light-blue w3-button w3-padding-large">3mths
      </div>
      <div @click="getTime(15552000000)" class="w3-light-blue w3-button w3-padding-large">6mth
      </div>
      <div @click="getTime(15552000000)" class="w3-light-blue w3-button w3-padding-large">1yr
      </div>
<div @click="getTime('all')" class="w3-light-blue w3-button w3-padding-large">all
      </div>
    </div>
    <br>
    <div class="w3-container">
      <show-readings
	:readings="readings"
	class="w3-auto"
        style="min-width:60%">
      </show-readings>
    </div>
    </div>
  </div>
  <script src="/static/gtp.js"></script>
  <p>Copyright 2018, 2019 Joshua White
  This file is part of The Greenthumb Project Backend Server.

  The Greenthumb Project Backend Server is free software: you can redistribute
  it and/or modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  The Greenthumb Project Backend Server is distributed in the hope that it will
  be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General
  Public License for more details.

  You should have received a copy of the GNU General Public License
  along with The Greenthumb Project Backend Server.  If not,
  see https://www.gnu.org/licenses/.</p>


</body>
</html>

